<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Edit Notes</title>
	</head>
	<body>
		<section>
			<div class="container mt-2">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="card">
							<div class="card-header text-center">
								<h3>Changed your mind?</h3>

							</div>
							<div class="card-body">
								<form action="/user/updateNotes" method="post">
									<div class="mb-3">
										<label>Title</label> 
										<input type="text" name="title" class="form-control"  th:value="${notesById.title}">
									</div>
									<input type="hidden" name="id" th:value="${notesById.id}">
									<div class="mb-3">
										<label>Description</label>
										<textarea rows="6" cols="" class="form-control" name="description">[[${notesById.description}]]</textarea>
									</div>

									<button class="btn btn-primary mt-4 col-md-12">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>