<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	</head>
	<body>
		<section>
			<div class="container-fluid p-0 m-0">
				<img alt="" src="/img/notesbg.jpg" width="100%" height="100%">
			</div>
		</section>
		
	</body>
	<footer>
		Photo by <a href="https://unsplash.com/@dariuszsankowski?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
		Dariusz Sankowski</a> on <a href="https://unsplash.com/photos/brown-pencil-on-white-book-beside-black-eyeglasses-dvK_CT1Wg78?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
	</footer>
</html>